// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$test_news-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($test_news-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(245, 255, 255);
}

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1 {
  margin: 0 !important;
  /* Скидає margin */
}

//global

.bg-color-white {
  background-color: #fff;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}